

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

*, *::before, *::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

body:not(#index){
    padding-top: 90px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

a img {
    cursor: pointer;
}

.navbar-brand,h1,h2,h3,h4,h5, .display-4, .display-3, .display-2, .display-1{
    font-family: Georgia, serif;
    font-style: italic;
}

.card-img-top{max-height: 100%}

.navbar-nav .nav-link {
    padding-left: 0.9em !important;
    padding-right: 0.9em !important;
}
.navbar .nav-item:last-child *{
    padding-right: 0 !important;
}

/* NAVBAR
----------------------------------------------------*/
.navbar, .navbar-brand{
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* Navbar inicial */
.navbar .navbar-brand{font-size: 25px; !important;}
.navbar {
    font-size: 16px !important;
    padding-bottom: 10px !important;
    padding-top: 15px !important;
}

/* Navbar al desplazar el scroll */
.navbar-small {}
.navbar-small.navbar {
    padding-bottom: 4px !important;
    padding-top: 6px !important;
}


/*
    LOGO (SVG)
-------------------------------------------------- */
.navbar a svg{
    width: 300px;
    height: 120px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navbar-small a svg {
    width: 180px;
    height: 60px;
}

.navbar-dark a svg {
    fill: #fff;
}

.navbar-light a svg {
    fill: rgba(0,0,0,0.9);
}


/* CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    width: 100%;
    height: 100vh;
    max-height: 1000px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-inner {
    position: relative;
    height: 100%;
    width: 100%;
}

.carousel-indicators {
    bottom: 0 !important;
}

.carousel-indicators li {
    width: 5px !important;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    background-color: #111;
    width: 100%;
    height: 100%;
}
.carousel-item img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center bottom;
    object-position: center bottom;
    width: 100%;
    height: 100%;
}

.carousel-caption{
    left: 0;
    bottom: 5%;
}

.carousel-caption .btn {
    padding: 0.5rem 3rem;
}

.carousel-header {
    padding: 0 20px;
    text-shadow: 0 0 22px #111;
    font-weight: 600;
    font-style: normal;
    font-size: 2.9em;
}

/*
    Footer
-------------------------------------------------- */
#patrocinadores img {
    height: 90px;
    width: auto;
}

/* COLORES CUSTOM
----------------------------------------------------*/

.navbar-dark .navbar-nav .nav-link{
    color: #d7d7d7;
    text-shadow: 0 0 15px #222;
}
.navbar-dark .navbar-toggler{
    color: #d2d2d2;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #fff;
}



.primario{
  color: #222;
  background-color: #fafafa;
}

.primario:focus, .primario:hover{
  color: #333 ;
  background-color: #c7c7c7;
}

.secundario{
  color: #222;
  background-color: #fafafa;
}

.secundario:focus, .secundario:hover{
  color: #333 ;
  background-color: #c7c7c7;
}

.bg-transparent{
    border-color: rgba(0,0,0,0);
}

.bg-black{
    background-color: #121212;
    border-color: #1b1e21;
}

.grad-black-tobottom {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(15%, rgba(0,0,0,0.35)), to(rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.35) 15%, rgba(0,0,0,0) 100%);
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.35) 15%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.35) 15%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(to top, rgba(0,0,0,0.35) 15%, rgba(0,0,0,0) 100%);
    border: none;
}

.grad-black-totop {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(15%, rgba(0,0,0,0.35)), to(rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.35) 15%, rgba(0,0,0,0) 100%);
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.35) 15%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(top, rgba(0,0,0,0.35) 15%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.35) 15%, rgba(0,0,0,0) 100%);
    border: none;
}

/*
 * Modificaciones en index.html
 */

.publicidad > * {
    max-width: 100%;
}

.form-group > label{
    width: 200px;
}

/*
 * Sobre Nosotros
 */

.imgpersona {
}

.imgpersona img {
    height: 160px;
    max-width: 160px;
}

.text-center {
  text-align: center !important
}
.wrap{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.iconocontacto{
  width: 20px;
}

form > div > label{
  width: 300px;
}

/* GALERIA */

.modal-dialog {
    max-width: 600px !important;
}
.modal-body img{
    max-width: 100%;
}

/*
    Arreglos Internet Explorer
------------------------------------------------------------------- */

.figure-img {
    width: 100%;
    max-width: 100%;
}

.modal-body {
    height: 100%;
}


/*
    MEDIA QUERYS (sólo usar como último recurso o por estabilidad)
 --------------------------------------------------------------------*/

@media only screen and (min-width: 992px) {

    .carousel-header {
        font-size: 3.5em;
    }

}


@media only screen and (min-width: 500px) {
    .imgpersona {

    }
}


@media (min-width:970px) and (min-height: 850px)  { 
    #footerContactoReserva {
      //position: fixed;
      //bottom: 0px;
    }
}